<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tasks List</title>

</head>

<body>
    <h1>Tasks List</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.title}">Title</td>
                <td th:text="${task.description}">Description</td>
                <td th:text="${task.status}">Status</td>
                <td>
                    <a th:href="@{/web/tasks/update/{id}(id=${task.id})}">Update</a>
                    <a th:href="@{/web/tasks/delete/{id}(id=${task.id})}"
                        onclick="return confirm('Are you sure you want to delete this task?');">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/web/tasks/add">Add New Task</a>
    <h5><a th:href="@{/logout}">LOGOUT</a></h5>


</body>

</html>