<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add New User</title>
</head>

<body>
    <h1>Add New User</h1>
    <form th:action="@{/web/users}" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:field="*{name}" />
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" th:field="*{email}" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}" />
        </div>
        <div>
            <label for="roles">Roles:</label>
            <input type="text" id="roles" name="roles" th:field="*{roles}" />
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>
    <a href="/web/users">Back to List</a>
</body>

</html>